# Imports

In [1]:
import pandas as pd

# Imports files

In [2]:
file1 = pd.read_csv('file1.txt',sep=',')
file2 = pd.read_csv('file2.txt',sep=',')
file3 = pd.read_csv('file3.txt',sep=',')

# Show Dataframe shape

In [3]:
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

# Standardize header names

In [4]:
cols = []
for i in range (len(file1.columns)):
    cols.append(file1.columns[i].lower())
file1.columns = cols

cols = []
for i in range (len(file2.columns)):
    cols.append(file2.columns[i].lower())
file2.columns = cols

cols = []
for i in range (len(file3.columns)):
    cols.append(file3.columns[i].lower())
file3.columns = cols

print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')
Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

#  Rearrange the columns in the dataframe as needed

In [5]:
new_names = {'st':'state',}
file1.rename(columns=new_names,inplace=True)
file2.rename(columns=new_names,inplace=True)

print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')
Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

# Concatenate the three dataframes

In [6]:
data = pd.concat([file1,file2,file3],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [7]:
data.reset_index(drop=True, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

# Which columns are numerical?

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

Customer lifetime value - income - monthly premium auto - number of open complaints - total claim amoun

# Which columns are categorical?

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

Customer - State - Gender - Education - Policy type - Vehicle class

# Understand the meaning of all columns

- Customer: It is an identifier, it should be a string
- State: Place where they live, it should be a string
- Gender: sex of them, it should be 'M' or 'F'
- Education: highest level of studies, it should be a string
- Customer lifetime value: How attractive is the customer to the company, should be a number
- Income: how much does the customer enter, it should be a number
- Monthly premium auto: it should be a number
- Number of open complains: it should be a number
- Policy type: it should be a string
- Vehicle class: it should be a string
- Total claim amount: it should be a number

# Perform the data cleaning operations mentioned so far in class

## Delete the column education and the number of open complaints from the dataframe.

In [10]:
data = data.drop(['education','number of open complaints'],axis=1)
data.head(1)

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934

## Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [11]:
data['customer lifetime value'] = (data['customer lifetime value'])*100

In [12]:
data['customer lifetime value']=pd.to_numeric(data['customer lifetime value'],errors='coerce')
data['customer lifetime value'].unique()

array([        nan, 347913.7523, 250263.7401, ..., 816389.0428,
       752444.2436, 261183.6866])

## Check for duplicate rows in the data and remove if any.

In [13]:
data.shape

(12074, 9)

In [14]:
data = data.drop_duplicates()
data.shape

(9135, 9)

## Filter out the data for customers who have an income of 0 or less.

In [15]:
data.query('income<=0')

,customer,state,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,NaN,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,NaN,0.0,67.0,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,F,5.678050e+05,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12065,RX91025,California,M,1.987226e+06,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,4.628995e+05,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12071,TD14365,California,M,8.163890e+05,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12073,Y167826,California,M,2.611837e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000